/*------CSS Grid Setup------*/

.container {
  display: grid;
  grid-template-columns: 25% auto auto 25%;
  grid-template-rows: auto;
  grid-column-gap: 20px;
  grid-row-gap: 10px;
  grid-template-areas: "header header header header" "first first first first" "left main main right" "footer footer footer footer";
}


/*------Nested Flex Box-----*/

#nested-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.flex-class {
  width: 25%%;
}


/*------Nested Flex Box-----*/

.long-row {
  grid-area: first;
}

.navbar {
  grid-area: header;
}

.left-posts {
  grid-area: left;
}

.main-post {
  grid-area: main;
}

.bottom-posts {
  grid-area: footer;
}

.right-posts {
  grid-area: right;
}


/*------CSS Grid Setup------*/