@media(min-width:399px) and (max-width: 699px) {
  .container {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-column-gap: 10px;
    grid-template-areas: "header header" "first first" "main main" "left right" "footer footer";
  }

  .img-container h3 {
    font-size: 3vw;
  }

  #main-img-text {
    font-size: 4vw;
  }

  #nested-row {
    flex-wrap: wrap;
  }

  .flex-class {
    width: 46%;
  }
}